
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">

                <div class="d-none d-lg-block col-lg-4">
                    <div class="slider-light">
                        <div class="slick-slider">
                            <div>
                                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate" tabindex="-1">
                                    <div>
                                        <img src="~/images/shadimubarak_logo.png" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                                    <div class="slide-img-bg" style="background-image: url('~/images/shadimubarak_logo.png');"></div>
                                    <div class="slider-content">
                                        <h3>Scalable, Modular, Consistent</h3>
                                        <p>Easily exclude the components you don't require. Lightweight, consistent Bootstrap based styles across all elements and components</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-sunny-morning" tabindex="-1">
                                    <div class="slide-img" style="background-image: url('~/images/shadimubarak_logo.png');"></div>
                                    <div class="slider-content">
                                        <h3>Complex, but lightweight</h3>
                                        <p>We've included a lot of components that cover almost all use cases for any type of application.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">

                    <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">

                        <div></div>
                        <h4 class="mb-0">
                            <span class="d-block">Welcome back,</span>
                            <span>Please enter new password.</span>
                        </h4>
                        <div class="divider row"></div>
                        <div>
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <p class="text-danger">@ViewBag.error</p>
                                <div class="">
                                    <div class="position-relative row form-group">
                                        <label for="exampleAddress" class="col-sm-3 col-form-label">Email:</label>
                                        <div class="col-sm-9">
                                            <input name="email" placeholder="Enter Email" required type="email" class="form-control">
                                        </div>
                                    </div>

                                    <div class="position-relative row form-group">
                                        <label for="exampleAddress" class="col-sm-3 col-form-label">New Password:</label>
                                        <div class="col-sm-9">
                                            <input name="newPassword" placeholder="Enter New Password" required type="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="divider row"></div>
                                    <div class="d-flex align-items-center">
                                        <div class="ml-auto">
                                            <a href="/Account/SignIn" class="btn btn-primary btn-lg">Log In</a>
                                            <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>