
@model IEnumerable<ShadiMubarak.Models.VendorCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section scripts
{
    <script>
        
        function CreateVendorCategory() {
            var name = $('.name').val();
            var files = $('.Image').get(0).files;

            if (name == ' ' || name == null) {
                return toastr.error('Name is required!');
            }
            var formData = new FormData();
            formData.append("file", files[0]);
            formData.append("name", name);

            $.ajax({
                contentType: false,
                processData: false,
                url: "/VendorCategory/Create",
                type: "POST",
                data: formData,
                success: function (response) {
                    $('.close').trigger('click');
                    toastr.success("Vendor Category added successfully.");
                    window.location.href = '/VendorCategory/Index';
                },
                error: function (e, f, g) {
                    console.log(e, f, g);
                }
            });
        }


    </script>

}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <div>
                    Vendor Category
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                    <i class="fa fa-star"></i>
                </button>
                <div class="d-inline-block dropdown">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-business-time fa-w-20"></i>
                        </span>
                        Vendor Categories
                    </button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="nav-link-icon lnr-inbox"></i>
                                    <span>
                                        Import
                                    </span>
                                    <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="nav-link-icon lnr-book"></i>
                                    <span>
                                        Export
                                    </span>
                                    <div class="ml-auto badge badge-pill badge-danger">5</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="nav-link-icon lnr-picture"></i>
                                    <span>
                                        Print
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-title-subheading opacity-10">
            <nav class="" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a>
                            <i aria-hidden="true" class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "VendorCategory")">Vendor Category List</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="">
                <div class="">
                    <div class="">
                        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                            <li class="nav-item">
                                <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
                                    <span>Vendor Category List</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
                                    <span>Add Vendor Category</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="main-card mb-3 card">
                                            <div class="card-body">
                                                <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td>@item.name</td>
                                                                <td>
                                                                    <button onclick="window.location.href='/VendorCategory/Edit/@item.name'" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary"><i class="pe-7s-tools btn-icon-wrapper"> </i></button>
                                                                    <button onclick="window.location.href='/VendorCategory/Delete/@item.name'" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-warning"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3 card">
                                            <div class="card-body">

                                                @*/<form class="CreateVendorCategory" action="/VendorCategory/Create" method="post" enctype="multipart/form-data">*@
                                                    <div>
                                                        <div class="form-wizard-content">
                                                            <div id="step-1">
                                                                <div class="card-body">

                                                                    <div class="position-relative row form-group">
                                                                        <label for="exampleAddress" class="col-sm-2 col-form-label">Name</label>
                                                                        <div class="col-sm-10">
                                                                            <input name="name" placeholder="Enter Vendor Category Name" type="text" class="form-control name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="position-relative row form-group">
                                                                        <label for="exampleAddress" class="col-sm-2 col-form-label">Image</label>
                                                                        <div class="col-sm-10">
                                                                            <input name="Image" class="Image" accept="image/" type="file">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="step-2">
                                                                <div class="no-results">
                                                                    <div class="text-center">
                                                                        <button data-type="success" onclick="CreateVendorCategory()" class="btn-shadow btn-wide btn btn-success btn-lg">Finish</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                @*</form>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
